  .invisivel{
    display:none;
  }
  .visivel{
    display:inline;
  }
  .inicial {
    text-align: center;
    font-size: 100px;
    color: pink;
    background-color: whitesmoke;
    width: 150px;
    height: 200px;
    border: 15px solid pink;
    padding: 10px;
    margin: 20px;
  }
  .acertou {
    text-align: center;
    color: yellow;
    background-color: #ffd6ef;
    width: 150px;
    height: 200px;
    border: 15px solid #fff0ab;
    padding: 10px;
    margin: 20px;
  }
  .errou {
    text-align: center;
    color: black;
    background-color: #c6a8f5;
    width: 150px;
    height: 200px;
    border: 15px solid #e49ef1;
    padding: 10px;
    margin: 20px;
  }
  body {
    background: url(https://ddlc.moe/images/tilebg.png);
  }
  h1 {
    color: #f09cea;
    text-align: center;
    font-family: 'Poppins', sans-serif;
  }
  p {
    color: #f09cea;
    text-align: center;
    font-family: 'Poppins', sans-serif;
  }
  div#div1{
    text-align: center;
    font-family: 'Poppins', sans-serif;
  }
  img#fluttershy{
    width: 50%;
    margin: 10px;
  }
  button{
    background-color: pink; 
    color: #fff; 
    border: none;
    border-radius: 12px; 
    padding: 10px 20px; 
    width: 50%;
    font-size: 16px; 
    font-family: 'Poppins', sans-serif;
    transition: background-color 0.3s, transform 0.3s; 
}

button:hover {
    background-color: #f6a2c1; 
    transform: scale(1.05); 
}
div#botoes{
  text-align: center;
}
div#principal {
  width: 960px;
  height: inherit;
  margin: 0px auto;
  background: #fff4c3;
  text-align: center;
  border-style: solid;
  border-color: #fff4c3;
  border-width: 40px 0px 0px 0px;
  box-shadow:  0px 0px 15px rgba(0, 0, 0, .3);
}
